.home-cta {
  // background: url('https://workforceretention.s3-ap-southeast-2.amazonaws.com/assets/images/home-bg.jpg') no-repeat center center;
  background: #f9f9f9;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #ffffff;
  padding: 160px 0 0px;
}
