<nb-layout>
    <nb-layout-column>
        <ngx-header></ngx-header>

        <!--        New Parallax Design Using Clipping Path-->
        <div style="position: relative; height: 100px">
        </div>
        <div id="content">
            <div id="static-wrap">
                <section class="moment moment1">
                    <div class="ptext ptext-section-1">
                        <span class="pborder trans">
                            <span class="ptext-line-1">
                                EXPERT
                            </span><br>
                            <span style="color: #000000">Phone & Online<br>
                                Exit Interviews
                            </span>
                        </span>
                    </div>
                    <div class="moment-clipper">
                        <div class="moment-image">
                        </div>
                    </div>
                </section>
                <div id="content1" class="content-slide">
                    <div class="section-div">
                        <div class="section-div-text">
                            <h2>Exit Interview Programs</h2>
                            <p class="about-description description-1">
                                Workforce Retention offers flexible end-to-end exit interview programs. Our unique model
                                for capturing and reporting data provides the top reasons for why employees are leaving,
                                comprehensive reports from expert analysis and leadership solutions that leverages 10
                                years of experience.
                            </p>
                        </div>
                        <div class="section-icon1-div">
                            <img src="https://workforceretention.s3-ap-southeast-2.amazonaws.com/assets/images/section-icon1.png"
                                width="170px" class="section-icon1">
                        </div>
                    </div>
                </div>
                <section class="moment moment2">
                    <div class="ptext ptext-section-2">
                        <span class="pborder trans">
                            <span class="ptext-line-1">SAVE TIME</span><br><span style="color: #000000">& Money</span>
                        </span>
                    </div>
                    <div class="moment-clipper">
                        <div class="moment-image2"></div>
                    </div>
                </section>
                <div id="content2" class="content-slide">
                    <div class="section-div">
                        <div class="section-div-text">
                            <h2>Outsource Your Exit Interviews</h2>
                            <p class="about-description description-1">
                                Too often the opportunity to capture true retention drivers from exiting employees is
                                missed.
                                For over 10 years Workforce Retention have been delivering effective exit interview
                                programs,
                                leaving exiting employees with a meaningful experience where they feel valued and heard.
                            </p>
                        </div>
                        <div class="section-icon1-div">
                            <img src="https://workforceretention.s3-ap-southeast-2.amazonaws.com/assets/images/section-icon2.png"
                                width="170px" class="section-icon1">
                        </div>
                    </div>
                </div>
                <section class="moment moment3">
                    <div class="ptext ptext-section-3">
                        <span class="pborder trans">
                            <span class="ptext-line-1">CANDID</span><br>
                            <span style="color: #000000">Feedback</span>
                        </span>
                    </div>
                    <div class="moment-clipper">
                        <div class="moment-image3"></div>
                    </div>
                </section>
                <div id="content3" class="content-slide">
                    <div class="section-div">
                        <div class="section-div-text">
                            <h2>Get The Real Story</h2>
                            <p class="about-description description-1">
                                Most managers believe employees leave because of 'pull' factors such as better pay from
                                another company, rather than 'push' factors that occur long before employees look for
                                greener pastures. Workforce Retention specialises in uncovering what happened when an
                                employee first makes that decision to leave.
                            </p>
                        </div>
                        <div class="section-icon1-div">
                            <img src="https://workforceretention.s3-ap-southeast-2.amazonaws.com/assets/images/section-icon3.png"
                                width="170px" class="section-icon1">
                        </div>
                    </div>
                </div>

                <section class="moment moment4">
                    <div class="ptext ptext-section-2">
                        <span class="pborder trans">
                            <span class="ptext-line-1">POWERFUL</span><br><span style="color: #000000">DATA
                                ANALYSIS</span>
                        </span>
                    </div>
                    <div class="moment-clipper">
                        <div class="moment-image4"></div>
                    </div>
                </section>
                <div id="content4" class="content-slide">
                    <div class="section-div">
                        <div class="section-div-text">
                            <h2>Insightful Exit Reporting</h2>
                            <p class="about-description description-1">
                                Find the top reasons for why employees leave via our efficient and intuitive chart-based
                                reporting platform. Our platform is built in such a way that you have the ability to see
                                the top reasons for why employees are leaving for any part of the business.
                            </p>
                        </div>
                        <div class="section-icon1-div">
                            <img src="https://workforceretention.s3-ap-southeast-2.amazonaws.com/assets/images/section-icon4.png"
                                width="170px" class="section-icon1">
                        </div>
                    </div>
                </div>
                <section class="moment moment5">
                    <div class="ptext ptext-section-2 get_in_touch">
                        <span class="pborder trans leadership_title">
                            Leadership Solutions
                        </span>
                    </div>
                    <div class="moment-clipper">
                        <div class="moment-image5"></div>
                    </div>
                </section>
                <div id="content5" class="content-slide">
                    <div class="section-div">
                        <div class="section-div-text">
                            <h2>Increase Employee Retention</h2>
                            <p class="about-description description-1">
                                For over 10 years we have been capturing insightabout the drivers of employee turnover.
                                Our leadership workshops link insights from exit interview data with proven techniques
                                that support leaders make a difference to employee engagement and retention
                            </p>
                        </div>
                        <div class="section-icon1-div">
                            <img src="https://workforceretention.s3-ap-southeast-2.amazonaws.com/assets/images/section-icon4.png"
                                width="170px" class="section-icon1">
                        </div>
                    </div>
                </div>


                <section class="moment moment7">
                    <div class="ptext ptext-section-2 get_in_touch">
                        <span class="pborder trans leadership_title">
                            Why Partner With Us?
                        </span>
                    </div>
                    <div class="moment-clipper">
                        <div class="moment-image7"></div>
                    </div>
                </section>
                <div id="content5" class="content-slide container">
                    <!-- ROW 1 -->
                    <div class="row text-left ben-row">
                        <div class="col-md-3">
                            <i class="fa fa-check-circle" style="font-size:16px;color:#55bdf9"></i>
                            <span
                                style="position: relative; top: -17px; font-size: 16px; color: black; margin-left: 15px;"
                                class="ben-text">Expert interviewers</span>
                        </div>
                        <div class="col-md-3">
                            <i class="fa fa-check-circle" style="font-size:16px;color:#55bdf9"></i>
                            <span
                                style="position: relative; top: -17px; font-size: 16px; color: black; margin-left: 15px;"
                                class="ben-text">Flexible program options</span>
                        </div>
                        <div class="col-md-3">
                            <i class="fa fa-check-circle" style="font-size:16px;color:#55bdf9"></i>
                            <span
                                style="position: relative; top: -17px; font-size: 16px; color: black; margin-left: 15px;"
                                class="ben-text">Top reasons for leaving</span>
                        </div>
                        <div class="col-md-3">
                            <i class="fa fa-check-circle" style="font-size:16px;color:#55bdf9"></i>
                            <span
                                style="position: relative; top: -17px; font-size: 16px; color: black; margin-left: 15px;"
                                class="ben-text">Expert analysis</span>
                        </div>
                    </div>

                    <!-- ROW 2 -->
                    <div class="row text-left ben-row">
                        <div class="col-md-3">
                            <i class="fa fa-check-circle" style="font-size:16px;color:#55bdf9"></i>
                            <span
                                style="position: relative; top: -17px; font-size: 16px; color: black; margin-left: 15px;"
                                class="ben-text">Increase employer brand</span>
                        </div>
                        <div class="col-md-3">
                            <i class="fa fa-check-circle" style="font-size:16px;color:#55bdf9"></i>
                            <span
                                style="position: relative; top: -17px; font-size: 16px; color: black; margin-left: 15px;"
                                class="ben-text">10 Years Experience</span>
                        </div>
                        <div class="col-md-3">
                            <i class="fa fa-check-circle" style="font-size:16px;color:#55bdf9"></i>
                            <span
                                style="position: relative; top: -17px; font-size: 16px; color: black; margin-left: 15px;"
                                class="ben-text">Insightful reporting</span>
                        </div>
                        <div class="col-md-3">
                            <i class="fa fa-check-circle" style="font-size:16px;color:#55bdf9"></i>
                            <span
                                style="position: relative; top: -17px; font-size: 16px; color: black; margin-left: 15px;"
                                class="ben-text">Leadership workshops</span>
                        </div>
                    </div>

                    <!-- ROW 3 -->
                    <div class="row text-left ben-row">
                        <div class="col-md-3">
                            <i class="fa fa-check-circle" style="font-size:16px;color:#55bdf9"></i>
                            <span
                                style="position: relative; top: -17px; font-size: 16px; color: black; margin-left: 15px;"
                                class="ben-text">Easy-to-use-platform</span>
                        </div>
                        <div class="col-md-3">
                            <i class="fa fa-check-circle" style="font-size:16px;color:#55bdf9"></i>
                            <span
                                style="position: relative; top: -17px; font-size: 16px; color: black; margin-left: 15px;"
                                class="ben-text">Affordable prices</span>
                        </div>
                        <div class="col-md-3">
                            <i class="fa fa-check-circle" style="font-size:16px;color:#55bdf9"></i>
                            <span
                                style="position: relative; top: -17px; font-size: 16px; color: black; margin-left: 15px;"
                                class="ben-text">Neuroscience backing</span>
                        </div>
                        <div class="col-md-3">
                            <i class="fa fa-check-circle" style="font-size:16px;color:#55bdf9"></i>
                            <span
                                style="position: relative; top: -17px; font-size: 16px; color: black; margin-left: 15px;"
                                class="ben-text">Retention solutions</span>
                        </div>
                    </div>
                </div>

                <section class="moment moment6">
                    <div class="moment-clipper">
                        <div class="moment-image6"></div>
                    </div>
                </section>
            </div>
        </div>
        <ngx-client-testimonial></ngx-client-testimonial>
        <ngx-footer></ngx-footer>
    </nb-layout-column>
</nb-layout>