<nb-layout>
    <nb-layout-column>
        <ngx-header></ngx-header>

        <!--New parallax design-->
        <div class="parallax-image" id="parallax-section-1">
            <div class="layer"></div>
            <div class="ptext ptext-section-1">
              <span class="pborder trans">
                  <span class="ptext-line-1">EXPERT</span><br>
                  Phone & Online<br>
                  Exit Interviews
              </span>
            </div>
            <img src="assets/images/contact.jpeg" alt="kitty"/>
        </div>
        <div id="content1" class="content-slide">
            <div class="row">
                <div class="col-md-8">
                    <h2>Flexible Exit Interview Programs</h2>
                    <p class="about-description description-1">
                        Workforce Retention offers flexible exit interview programs with a comprehensive, easy-to-use
                        online platform. Our unique model for collecting and reporting data provides you with top
                        reasons for leaving, as well as comprehensive reports from expert analysis.
                    </p>
                </div>
                <div class="col-md-4 section-icon1-div">
                    <img src="/assets/images/section-icon1.png" width="170px" class="section-icon1">
                </div>
            </div>
        </div>
        <div class="parallax-image" id="parallax-section-2">
            <div class="ptext ptext-section-2">
                          <span class="pborder trans">
                              <span class="ptext-line-1">SAVE TIME</span><br>& Money
                          </span>
            </div>
            <img src="assets/images/contact.jpeg" alt="kitty"/>
        </div>
        <div id="content2" class="content-slide">
            <div class="row">
                <div class="col-md-8">
                    <h2>Outsource Your Exit Interviews</h2>
                    <p class="about-description description-1">
                        Too often the opportunity to capture true retention drivers from exiting employees is missed.
                        For over 10 years Workforce Retention have been delivering effective exit interview programs,
                        leaving exiting employees with a meaningful experience where they feel valued and heard.
                    </p>
                </div>
                <div class="col-md-4 section-icon1-div">
                    <img src="/assets/images/section-icon2.png" width="170px" class="section-icon1">
                </div>
            </div>
        </div>
        <div class="parallax-image" id="parallax-section-3">
            <div class="ptext ptext-section-3">
                          <span class="pborder trans">
                              <span class="ptext-line-1">CANDID</span><br>
                            Feedback
                          </span>
            </div>
            <img src="assets/images/home-banner-2.jpeg" alt="kitty"/>
        </div>
        <div id="content3" class="content-slide">
            <div class="row">
                <div class="col-md-8">
                    <h2>Get The Real Story</h2>
                    <p class="about-description description-1">
                        Most managers believe employees leave because of 'pull' factors such as better pay, rather than
                        'push' factors that occur long before employees look for greener pastures. Workforce Retention
                        specialises in uncovering what happened when an employee first makes that decision to leave.
                    </p>
                </div>
                <div class="col-md-4 section-icon1-div">
                    <img src="/assets/images/section-icon3.png" width="170px" class="section-icon1">
                </div>
            </div>
        </div>
        <div class="parallax-image" id="parallax-section-4">
            <img src="assets/images/computer_graph.jpeg" alt="kitty"/>
        </div>
        <div id="content4" class="content-slide">
            <div class="row">
                <div class="col-md-8">
                    <h2>Insightful Exit Reporting</h2>
                    <p class="about-description description-1">
                        Find the top reasons for leaving quickly and efficiently via our simple chart-based reporting
                        platform. Our exit interviews are structured in such a way that reasons for leaving are pushed
                        to the top and ranked in order of what has the greatest propensity for employees to leave.
                    </p>
                </div>
                <div class="col-md-4 section-icon1-div">
                    <img src="/assets/images/section-icon4.png" width="170px" class="section-icon1">
                </div>
            </div>
        </div>
        <div class="parallax-image" id="parallax-section-5">
            <div class="ptext ptext-section-2">
                          <span class="pborder trans">
                              Get In Touch Today
                          </span>
            </div>
            <img src="/assets/images/stock_image.jpg" alt="kitty"/>
        </div>
        <div id="content5" class="content-slide">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="text-center">Exit Interview Program Benefits</h2>
                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="col-md-3">
                    <span style="position: relative;top: -5px;margin-right: 10px;">No lock-in contracts</span>
                    <i class="fa fa-check-circle" style="font-size:36px;color:#55bdf9"></i>
                </div>
                <div class="col-md-3">
                    <span style="position: relative;top: -5px;margin-right: 10px;">Insightful reporting &nbsp;</span>
                    <i class="fa fa-check-circle" style="font-size:36px;color:#55bdf9"></i>
                </div>
                <div class="col-md-3">
                    <span style="position: relative;top: -5px;margin-right: 10px;">Expert analysis &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <i class="fa fa-check-circle" style="font-size:36px;color:#55bdf9"></i>
                </div>
                <div class="col-md-3">
                    <span style="position: relative;top: -5px;margin-right: 10px;">High participation &nbsp;&nbsp;</span>
                    <i class="fa fa-check-circle" style="font-size:36px;color:#55bdf9"></i>
                </div>
            </div>
            <div class="row" style="margin-top: 10px">
                <div class="col-md-3">
                    <span style="position: relative;top: -5px;margin-right: 10px;">Flexible programs &nbsp;&nbsp;&nbsp;</span>
                    <i class="fa fa-check-circle" style="font-size:36px;color:#55bdf9"></i>
                </div>
                <div class="col-md-3">
                    <span style="position: relative;top: -5px;margin-right: 10px;">Easy-to-use platform</span>
                    <i class="fa fa-check-circle" style="font-size:36px;color:#55bdf9"></i>
                </div>
                <div class="col-md-3">
                    <span style="position: relative;top: -5px;margin-right: 10px;">Over 10 years exp.&nbsp;&nbsp; </span>
                    <i class="fa fa-check-circle" style="font-size:36px;color:#55bdf9"></i>
                </div>
                <div class="col-md-3">
                    <span style="position: relative;top: -5px;margin-right: 10px;">Meaningful process</span>
                    <i class="fa fa-check-circle" style="font-size:36px;color:#55bdf9"></i>
                </div>
            </div>
        </div>
        <div class="parallax-image" id="parallax-section-6">
            <img src="assets/images/testimonial-img.png" alt="kitty"/>
        </div>
        <div id="content6" class="content-slide">
            <div class="row">
                <div class="col-md-12">
                    “We’ve had huge amounts of career development feedback which we’ve used to create a<br> targeted
                    development framework” Jana Buschhaus, LexisNexis
                </div>
            </div>
        </div>
        <!--End of New parallax design-->

        <!--        <div class="pimg1">-->
        <!--            <div class="ptext ptext-section-1">-->
        <!--              <span class="pborder trans">-->
        <!--                  <span class="ptext-line-1">EXPERT</span><br>-->
        <!--                  Phone & Online<br>-->
        <!--                  Exit Interviews-->
        <!--              </span>-->
        <!--            </div>-->
        <!--        </div>-->

        <!--        <section class="section section-light">-->
        <!--            <div class="row">-->
        <!--                <div class="col-md-8">-->
        <!--                    <h2>Flexible Exit Interview Programs</h2>-->
        <!--                    <p class="about-description description-1">-->
        <!--                        Workforce Retention offers flexible exit interview programs with a comprehensive, easy-to-use-->
        <!--                        online platform. Our unique model for collecting and reporting data provides you with top-->
        <!--                        reasons for leaving, as well as comprehensive reports from expert analysis.-->
        <!--                    </p>-->
        <!--                </div>-->
        <!--                <div class="col-md-4 section-icon1-div">-->
        <!--                    <img src="/assets/images/section-icon1.png" width="170px" class="section-icon1">-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </section>-->

        <!--        <div class="pimg2">-->
        <!--            <div class="ptext ptext-section-2">-->
        <!--              <span class="pborder trans">-->
        <!--                  <span class="ptext-line-1">SAVE TIME</span><br>& Money-->
        <!--              </span>-->
        <!--            </div>-->
        <!--        </div>-->

        <!--        <section class="section section-light">-->
        <!--            <div class="row">-->
        <!--                <div class="col-md-8">-->
        <!--                    <h2>Outsource Your Exit Interviews</h2>-->
        <!--                    <p class="about-description description-1">-->
        <!--                        Too often the opportunity to capture true retention drivers from exiting employees is missed.-->
        <!--                        For over 10 years Workforce Retention have been delivering effective exit interview programs,-->
        <!--                        leaving exiting employees with a meaningful experience where they feel valued and heard.-->
        <!--                    </p>-->
        <!--                </div>-->
        <!--                <div class="col-md-4 section-icon1-div">-->
        <!--                    <img src="/assets/images/section-icon2.png" width="170px" class="section-icon1">-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </section>-->

        <!--        <div class="pimg3">-->
        <!--            <div class="ptext ptext-section-3">-->
        <!--              <span class="pborder trans">-->
        <!--                  <span class="ptext-line-1">CANDID</span><br>-->
        <!--                Feedback-->
        <!--              </span>-->
        <!--            </div>-->
        <!--        </div>-->

        <!--        <section class="section section-light">-->
        <!--            <div class="row">-->
        <!--                <div class="col-md-8">-->
        <!--                    <h2>Get The Real Story</h2>-->
        <!--                    <p class="about-description description-1">-->
        <!--                        Most managers believe employees leave because of 'pull' factors such as better pay, rather than-->
        <!--                        'push' factors that occur long before employees look for greener pastures. Workforce Retention-->
        <!--                        specialises in uncovering what happened when an employee first makes that decision to leave.-->
        <!--                    </p>-->
        <!--                </div>-->
        <!--                <div class="col-md-4 section-icon1-div">-->
        <!--                    <img src="/assets/images/section-icon3.png" width="170px" class="section-icon1">-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </section>-->

        <!--        <div class="pimg4">-->
        <!--            <div class="ptext ptext-section-3">-->
        <!--              <span class="pborder trans">-->
        <!--              </span>-->
        <!--            </div>-->
        <!--        </div>-->

        <!--        <section class="section section-light">-->
        <!--            <div class="row">-->
        <!--                <div class="col-md-8">-->
        <!--                    <h2>Insightful Exit Reporting</h2>-->
        <!--                    <p class="about-description description-1">-->
        <!--                        Find the top reasons for leaving quickly and efficiently via our simple chart-based reporting-->
        <!--                        platform. Our exit interviews are structured in such a way that reasons for leaving are pushed-->
        <!--                        to the top and ranked in order of what has the greatest propensity for employees to leave.-->
        <!--                    </p>-->
        <!--                </div>-->
        <!--                <div class="col-md-4 section-icon1-div">-->
        <!--                    <img src="/assets/images/section-icon4.png" width="170px" class="section-icon1">-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </section>-->

        <!--        <div class="pimg5">-->
        <!--            <div class="ptext ptext-section-2">-->
        <!--              <span class="pborder trans">-->
        <!--                  Get In Touch Today-->
        <!--              </span>-->
        <!--            </div>-->
        <!--        </div>-->

        <!--        <section class="section section-light">-->
        <!--            <div class="row">-->
        <!--                <div class="col-md-12">-->
        <!--                    <h2>Client Testimonials</h2>-->
        <!--                    <p class="about-description description-1">-->
        <!--                        Find the top reasons for leaving quickly and efficiently via our simple chart-based reporting-->
        <!--                        platform. Our exit interviews are structured in such a way that reasons for leaving are-->
        <!--                        pushed-->
        <!--                        to the top and ranked in order of what has the greatest propensity for employees to leave.-->
        <!--                    </p>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </section>-->
        <!-- End of parallax design -->

        <section class="testimonial-section home-section">
            <div class="footer-div">
                <ul class="footer-menu">
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Request A Quote</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Call Now :61 2 98413-0170</a></li>
                </ul>
                <div class="text-center">
                    <img src="/assets/images/logo_short.png" width="200px">
                </div>
                <div class="text-center">
                    <p style="letter-spacing: 1px">© Workforce Retention {{currentYear}}</p>
                </div>
            </div>
            <!--            <div class="testimonial-slider">-->
            <!--                <ul class="slider">-->
            <!--                    <li>-->
            <!--                        <div class="testimonial-slider-content">-->
            <!--                            <q>This is the first quote in your slider!</q>-->
            <!--                            <p class="source">- Paul C, TX</p>-->
            <!--                        </div>-->
            <!--                    </li>-->
            <!--                    <li>-->
            <!--                        <div class="testimonial-slider-content">-->
            <!--                            <q>Here is the second one, this is awesome!</q>-->
            <!--                            <p class="source">- Ella M, TX</p>-->
            <!--                        </div>-->
            <!--                    </li>-->
            <!--                    <li>-->
            <!--                        <div class="testimonial-slider-content">-->
            <!--                            <q>Next, the third quote - AMAZING!</q>-->
            <!--                            <p class="source">- Blaine B, TX</p>-->
            <!--                        </div>-->
            <!--                    </li>-->
            <!--                    <li>-->
            <!--                        <div class="testimonial-slider-content">-->
            <!--                            <q>This is the last quote, I can't believe how well this worked!</q>-->
            <!--                            <p class="source">- Guillermo O, TX</p>-->
            <!--                        </div>-->
            <!--                    </li>-->
            <!--                </ul>-->
            <!--            </div>-->
        </section>
    </nb-layout-column>
</nb-layout>
