<nb-layout>
    <nb-layout-column>
        <ngx-header></ngx-header>
        <img src="/assets/images/page_banner.jpg" width="100%">
        <section class="home-section light-gray">
            <div class="container">
                <p class="about-description">
                    Most managers believe employees leave because of 'pull' factors such as better pay or career
                    opportunities, rather than 'push' factors that occur long before employees look for greener
                    pastures.
                    Many exit programs don't focus on what happened when the employee first set their mind on
                    leaving.
                    Workforce Retention specialises in getting meaningful information through the exit process,
                    and
                    reports
                    this back to business leaders so action can be taken.
                </p>
                <div class="home-banner-two">
                    <h2 class="banner-two-heading">Get the real story <br>from exiting<br> employees..</h2>
                </div>
            </div>
        </section>
        <section class="home-section">
            <div class="container">
                <p class="about-description">
                    Find the top reasons for leaving quickly and efficiently via our simple chart-based reporting
                    platform.
                    Our exit interviews are structured in such a way that reasons for leaving are pushed to the top and
                    ranked in order of what has the greatest propensity for employees to leave.
                </p>
                <div class="home-banner-three">
                    <h2 class="banner-three-heading">
                        Get the top<br>
                        reasons for<br>
                        leaving..
                    </h2>
                </div>
            </div>
        </section>

        <section class="testimonial-section home-section light-gray">
            <div class="testimonial-slider">
                <ul class="slider">
                    <li>
                        <div class="testimonial-slider-content">
                            <q>This is the first quote in your slider!</q>
                            <p class="source">- Paul C, TX</p>
                        </div>
                    </li>
                    <li>
                        <div class="testimonial-slider-content">
                            <q>Here is the second one, this is awesome!</q>
                            <p class="source">- Ella M, TX</p>
                        </div>
                    </li>
                    <li>
                        <div class="testimonial-slider-content">
                            <q>Next, the third quote - AMAZING!</q>
                            <p class="source">- Blaine B, TX</p>
                        </div>
                    </li>
                    <li>
                        <div class="testimonial-slider-content">
                            <q>This is the last quote, I can't believe how well this worked!</q>
                            <p class="source">- Guillermo O, TX</p>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
    </nb-layout-column>
</nb-layout>
