/deep/ body {
  overflow-y: scroll !important;
}

.home-section {
  padding: 80px 0;
}

body {
  height: 100%;
}

.light-gray {
  background: rgba(0, 0, 0, 0.024);
}

.nb-card-color {
  background: #fff !important;
  padding: 10px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
  border-top: 2px solid #000;
}

h2 {
  color: #000000;
}

nb-layout-column {
  padding: 0 !important;
}

/deep/ nb-layout .layout {
  background-color: #fff !important;
}

nb-card:hover {
  box-shadow: 0 10px 16px rgba(0, 0, 0, 0.2);
  border-top: 2px solid #3f51b5;

}

.nb-card-header {
  color: #000;
}

.description {
  color: #616161;
  line-height: 1.5rem;
}

.home-cta {
  background: url('/assets/images/home-bg.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #ffffff;
}

.about-description {
  font-size: 1.2rem;
  line-height: 1.7rem;
  word-spacing: 2px;
  text-align: justify;
}

.description-1 {
  color: #000000;
}

.description-2 {
  color: #ffff;
}

.home-banner-two {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("assets/images/home-banner-2.jpeg");
  width: 100%;
  height: 500px;
  background-size: cover;
  position: relative;
}

.banner-two-heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home-banner-three {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("assets/images/home-banner-3.jpeg");
  width: 100%;
  height: 800px;
  background-size: cover;
  position: relative;
}

.banner-three-heading {
  position: absolute;
  word-spacing: 3px;
  letter-spacing: 3px;
  top: 10%;
  left: 40%;
  transform: translate(-10%, -40%);
}


// Slider css
.testimonial-slider {
  display: block;
  width: 100%;
  height: auto;
  margin-top: 100px;
  text-align: center;
}

.testimonial-slider ul.slider {
  display: block;
  list-style: none;
  padding: 0;
  position: relative;
  display: inline-block;
  width: 100%;
  height: 350px;
  overflow: hidden;
  margin: 0 auto;
}

.testimonial-slider ul.slider li {
  position: absolute;
  display: block;
  width: 100%;
  opacity: 0;
  margin: 0 auto;
}

.testimonial-slider ul.slider li:nth-child(1) {
  opacity: 1;

  -webkit-animation: fade-animation-1 25s infinite;
  animation: fade-animation-1 25s infinite;
}

.testimonial-slider ul.slider li:nth-child(2) {
  -webkit-animation: fade-animation-2 25s infinite;
  animation: fade-animation-2 25s infinite;
}

.testimonial-slider ul.slider li:nth-child(3) {
  -webkit-animation: fade-animation-3 25s infinite;
  animation: fade-animation-3 25s infinite;
}

.testimonial-slider ul.slider li:nth-child(4) {
  -webkit-animation: fade-animation-4 25s infinite;
  animation: fade-animation-4 25s infinite;
}

.testimonial-slider q {
  display: inline-block;
  font: normal 700 50px / 1.25 "Raleway", Helvetica, Arial, Verdana, sans-serif;
  letter-spacing: .5pt;
  text-shadow: 0 5px 10px rgba(0, 0, 0, .1);
  max-width: 35ch;
}

.testimonial-slider .source {
  margin-top: 25px;
  color: #d9e0f9;
  font: italic 400 30px / 1.35 "Raleway", Helvetica, Arial, Verdana, sans-serif;
}

/* KEYFRAME DECLARATIONS */
@keyframes fade-animation-1 {
  0%, 25%, 100% {
    opacity: 0
  }
  3%, 22% {
    opacity: 1;
  }
}

@keyframes fade-animation-2 {
  0%, 25%, 50%, 100% {
    opacity: 0
  }
  28%, 47% {
    opacity: 1;
  }
}

@keyframes fade-animation-3 {
  0%, 50%, 75%, 100% {
    opacity: 0
  }
  53%, 72% {
    opacity: 1;
  }
}

@keyframes fade-animation-4 {
  0%, 75%, 100% {
    opacity: 0
  }
  78%, 97% {
    opacity: 1;
  }
}

@-webkit-keyframes fade-animation-1 {
  0%, 25%, 100% {
    opacity: 0
  }
  3%, 22% {
    opacity: 1;
  }
}

@-webkit-keyframes fade-animation-2 {
  0%, 25%, 50%, 100% {
    opacity: 0
  }
  28%, 47% {
    opacity: 1;
  }
}

@-webkit-keyframes fade-animation-3 {
  0%, 50%, 75%, 100% {
    opacity: 0
  }
  53%, 72% {
    opacity: 1;
  }
}

@-webkit-keyframes fade-animation-4 {
  0%, 75%, 100% {
    opacity: 0
  }
  78%, 97% {
    opacity: 1;
  }
}


// Parallax design
.pimg1, .pimg2, .pimg3, .pimg4, .pimg5 {
  position: relative;
  //opacity: 0.70;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  /*
    fixed = parallax
    scroll = normal
  */
  background-attachment: fixed;
}

.pimg1 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("assets/images/iStock.jpg");
  background-size: cover;
  min-height: 90vh;
}

.pimg2 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/images/AdobeStock.jpeg");
  min-height: 400px;
}

.pimg3 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/images/home-banner-2.jpeg");
  min-height: 400px;
}

.pimg4 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/images/computer_graph.jpeg");
  min-height: 400px;
}

.pimg5 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/images/stock_image.jpg");
  min-height: 400px;
}

.section {
  text-align: center;
  padding: 50px 80px;
}

.section-light {
  background-color: #f4f4f4;
  color: #666;
}

.section-dark {
  background-color: #282e34;
  color: #ddd;
}

.ptext {
  position: absolute;
  font-size: 36px;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
  //background-color: rgba(59, 141, 198, 0.8);
  padding: 20px;
}

.ptext-line-1 {
  color: rgb(77, 176, 232);
}

.ptext-section-1 {
  top: 40%;
  width: 450px;
  text-align: center;
  left: 10%;
  //clip-path: polygon(25% 2%, 100% 0%, 99% 99%, 0% 100%);
}

.section-icon1-div {
  position: relative;
}

.section-icon1 {
  position: absolute;
  top: -10%;
  left: 0;
}

.ptext-section-2 {
  top: 30%;
  width: 350px;
  text-align: left;
  left: 20%;
}

.ptext-section-3 {
  top: 30%;
  width: 350px;
  text-align: center;
  right: 30%;
}

.ptext .pborder {
  color: #fff;
}

.ptext .pborder.trans {
  background-color: transparent;
}

@media(max-width: 568px) {
  .pimg1, .pimg2, .pimg3 {
    background-attachment: scroll;
  }
}
