@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,700&display=swap");

/deep/ body {
  overflow-y: scroll !important;
}

.home-section {
  padding: 80px 0;
}

.light-gray {
  background: rgba(0, 0, 0, 0.024);
}

.nb-card-color {
  background: #fff !important;
  padding: 10px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border-top: 2px solid #000;
}

h2 {
  color: #000000;
}

nb-layout-column {
  padding: 0 !important;
}

/deep/ nb-layout .layout {
  background-color: #fff !important;
}

nb-card:hover {
  box-shadow: 0 10px 16px rgba(0, 0, 0, 0.2);
  border-top: 2px solid #3f51b5;
}

.nb-card-header {
  color: #000;
}

.description {
  color: #616161;
  line-height: 1.5rem;
}

.home-cta {
  background: url("/assets/images/home-bg.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #ffffff;
}

.about-description {
  font-size: 1.2rem;
  line-height: 1.7rem;
  word-spacing: 2px;
}

.description-1 {
  color: #000000;
}

.description-2 {
  color: #ffff;
}

.home-banner-two {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("assets/images/home-banner-2.jpeg");
  width: 100%;
  height: 500px;
  background-size: cover;
  position: relative;
}

.banner-two-heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home-banner-three {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("assets/images/home-banner-3.jpeg");
  width: 100%;
  height: 800px;
  background-size: cover;
  position: relative;
}

.banner-three-heading {
  position: absolute;
  word-spacing: 3px;
  letter-spacing: 3px;
  top: 10%;
  left: 40%;
  transform: translate(-10%, -40%);
}

// Slider css
.testimonial-slider {
  display: block;
  width: 100%;
  height: auto;
  margin-top: 100px;
  text-align: center;
}

.testimonial-slider ul.slider {
  display: block;
  list-style: none;
  padding: 0;
  position: relative;
  display: inline-block;
  width: 100%;
  height: 350px;
  overflow: hidden;
  margin: 0 auto;
}

.testimonial-slider ul.slider li {
  position: absolute;
  display: block;
  width: 100%;
  opacity: 0;
  margin: 0 auto;
}

.testimonial-slider ul.slider li:nth-child(1) {
  opacity: 1;

  -webkit-animation: fade-animation-1 25s infinite;
  animation: fade-animation-1 25s infinite;
}

.testimonial-slider ul.slider li:nth-child(2) {
  -webkit-animation: fade-animation-2 25s infinite;
  animation: fade-animation-2 25s infinite;
}

.testimonial-slider ul.slider li:nth-child(3) {
  -webkit-animation: fade-animation-3 25s infinite;
  animation: fade-animation-3 25s infinite;
}

.testimonial-slider ul.slider li:nth-child(4) {
  -webkit-animation: fade-animation-4 25s infinite;
  animation: fade-animation-4 25s infinite;
}

.testimonial-slider q {
  display: inline-block;
  font: normal 700 50px / 1.25 "Raleway", Helvetica, Arial, Verdana, sans-serif;
  letter-spacing: 0.5pt;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  max-width: 35ch;
}

.testimonial-slider .source {
  margin-top: 25px;
  color: #d9e0f9;
  font: italic 400 30px / 1.35 "Raleway", Helvetica, Arial, Verdana, sans-serif;
}

/* KEYFRAME DECLARATIONS */
@keyframes fade-animation-1 {
  0%,
  25%,
  100% {
    opacity: 0;
  }
  3%,
  22% {
    opacity: 1;
  }
}

@keyframes fade-animation-2 {
  0%,
  25%,
  50%,
  100% {
    opacity: 0;
  }
  28%,
  47% {
    opacity: 1;
  }
}

@keyframes fade-animation-3 {
  0%,
  50%,
  75%,
  100% {
    opacity: 0;
  }
  53%,
  72% {
    opacity: 1;
  }
}

@keyframes fade-animation-4 {
  0%,
  75%,
  100% {
    opacity: 0;
  }
  78%,
  97% {
    opacity: 1;
  }
}

@-webkit-keyframes fade-animation-1 {
  0%,
  25%,
  100% {
    opacity: 0;
  }
  3%,
  22% {
    opacity: 1;
  }
}

@-webkit-keyframes fade-animation-2 {
  0%,
  25%,
  50%,
  100% {
    opacity: 0;
  }
  28%,
  47% {
    opacity: 1;
  }
}

@-webkit-keyframes fade-animation-3 {
  0%,
  50%,
  75%,
  100% {
    opacity: 0;
  }
  53%,
  72% {
    opacity: 1;
  }
}

@-webkit-keyframes fade-animation-4 {
  0%,
  75%,
  100% {
    opacity: 0;
  }
  78%,
  97% {
    opacity: 1;
  }
}

// Parallax design
.pimg1,
.pimg2,
.pimg3,
.pimg4,
.pimg5 {
  position: relative;
  //opacity: 0.70;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  /*
    fixed = parallax
    scroll = normal
  */
  background-attachment: fixed;
}

.pimg1 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("assets/images/iStock.jpg");
  background-size: cover;
  min-height: 90vh;
}

.pimg2 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/assets/images/AdobeStock.jpeg");
  min-height: 400px;
}

.pimg3 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/assets/images/home-banner-2.jpeg");
  min-height: 400px;
}

.pimg4 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/assets/images/computer_graph.jpeg");
  min-height: 400px;
}

.pimg5 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/assets/images/stock_image.jpg");
  min-height: 400px;
}

.section {
  text-align: center;
  padding: 50px 80px;
}

.section-light {
  background-color: #f4f4f4;
  color: #666;
}

.section-dark {
  background-color: #282e34;
  color: #ddd;
}

.ptext {
  position: absolute;
  font-size: 36px;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
  //background-color: rgba(59, 141, 198, 0.8);
  padding: 20px;
}

.ptext-line-1 {
  color: rgb(77, 176, 232);
}

.ptext-section-1 {
  top: 40%;
  text-align: center;
  left: 10%;
  z-index: 10;
  //clip-path: polygon(25% 2%, 100% 0%, 99% 99%, 0% 100%);
}

//.section-icon1-div {
//  position: relative;
//}
//
//.section-icon1 {
//  position: absolute;
//  top: -10%;
//  left: 0;
//}

.ptext-section-2 {
  top: 40%;
  text-align: left;
  left: 10%;
  z-index: 10;
}

.ptext-section-3 {
  top: 30%;
  width: 350px;
  text-align: center;
  right: 30%;
  z-index: 10;
}

.ptext .pborder {
  color: #fff;
}

.ptext .pborder.trans {
  background-color: transparent;
  font-size: 48px;
  font-family: "Nunito", sans-serif;
}

@media (max-width: 568px) {
  .pimg1,
  .pimg2,
  .pimg3 {
    background-attachment: scroll;
  }
}

body {
  padding: 0;
  margin: 0;
}

.parallax-image {
  padding-top: 50%;
  position: relative;
  height: 400px;
}

.parallax-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.bottom {
  height: 500px;
  background: #fff;
  position: relative;
  z-index: 1;
}

#parallax-section-1 {
  top: 100px;
  height: 400px;
}

#parallax-section-1 .layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)); /* top, transparent red */
}

.content-slide {
  background: #fff;
  padding: 50px;
  text-align: center;
  position: relative;
  z-index: 1;
}

#content6 {
  background: rgb(30, 70, 98);
  color: #fff;
  top: 0;
}

.footer-div {
  max-width: 800px;
  margin: 0 auto;
}

.footer-menu {
  display: flex;
  list-style: none;
  color: #000;
}

.footer-menu li {
  padding: 10px;
  flex: 1 1 auto;
}

.footer-menu li a {
  color: #000;
  font-size: 18px;
}

// Design similar to skout.com
.slide-header.landing-background-solid {
  background-image: url(/assets/images/blur_homepage.png);
  background-position: top center;
  background-attachment: fixed;
  background-size: cover;
  transform: translate(0, 0);
}

.slide {
  width: 100%;
}

.slide-header {
  height: 450px;
}

.slide-1 {
  background-image: url(/assets/images/contact.jpeg);
  background-position: top center;
  background-attachment: fixed;
  height: 480px;
  background-size: cover;
  transform: translate(0, 0);
}

.slide-2 {
  background-image: url("/assets/images/home-banner-2.jpeg");
  background-position: top center;
  background-attachment: fixed;
  height: 480px;
  background-size: cover;
  transform: translate(0, 0);
}

.background_fill {
  overflow: hidden;
  position: relative;
  color: red;
}

.background_fill:before {
  background-color: white;
  background-size: cover;
  z-index: 3;
  content: " ";
  position: fixed;
  background: url("/assets/images/home-banner-2.jpeg") no-repeat center center;
  will-change: transform;
  width: 100%;
  height: 100%;
}

// New Parallax Design using Clipping path
html,
body {
  height: 100%;
}

body {
  background: #f6f6f6;
  margin: 0 0 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
}

header {
  width: 100%;
  position: fixed;
  z-index: 10;
  height: 100px;
  top: 0;
}

#top {
  background: #fff;
  height: 100px;
}

#top h1 {
  margin: 1em 0 0 1em;
  float: left;
}

#top ul {
  margin: 2.5em 2em 0 0;
  padding: 0;
  list-style: none;
  float: right;
}

#top ul li {
  float: left;
  margin: 0 0 0 1em;
  font-size: 1em;
}

#top ul li a {
  color: #000;
}

#video {
  min-height: 100%;
  background-color: #666;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

#video video {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#video h1 {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  color: #fff;
  width: 50%;
  height: 1em;
  text-align: center;
}

#video-spacer {
  display: block;
  width: 100%;
  height: 100%;
}

#content {
  position: relative;
}

#static-wrap {
  position: static;
}

.moment {
  position: relative;
  width: 100%;
  padding: 0;
  height: 450px;
  background: #f6f6f6;
}

.moment h1 {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  color: #fff;
  width: 50%;
  height: 1em;
  text-align: center;
}

.moment-clipper {
  position: absolute;
  clip: rect(auto, auto, auto, auto);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.moment-image {
  background: #666 url(/assets/images/blur_homepage.png) no-repeat top;
  background-size: cover;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 100px;
}

.moment-image2 {
  background: #666 url(/assets/images/contact.jpeg) top;
  position: fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
  top: 100px;
}
.moment-image3 {
  background: #666 url(/assets/images/home-banner-2.jpeg) top;
  position: fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
  top: 100px;
}

.moment-image4 {
  background: #666 url(/assets/images/computer_graph.jpeg) top;
  position: fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
  top: 100px;
}

.moment-image5 {
  background: #666 url(/assets/images/stock_image.jpg) top;
  position: fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
  top: 100px;
}

.moment-image6 {
  background: #666 url(/assets/images/AdobeStock-testimonial.jpeg) top;
  position: fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
  top: 100px;
}

.section-div {
  display: flex;
  margin: 0 auto;
  max-width: 800px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.section-div-text {
  flex: 0 70%;
}

footer {
  position: relative;
  background: #333;
  overflow: hidden;
}

footer p {
  color: #fff;
  margin: 1em 2em;
}

.carousel {
  font-size: 14px;
  padding: 0 20px;
}

@media (min-width: 481px) and (max-width: 767px) {
  .section-div {
    flex-direction: column-reverse;
  }
  .footer-menu {
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
  }
  .ptext .pborder.trans {
    background-color: transparent;
    font-size: 30px;
    font-family: "Nunito", sans-serif;
  }
  .moment {
    height: 300px;
  }
  .ptext-section-3 {
    left: 10%;
    right: 0;
  }
}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .section-div {
    flex-direction: column-reverse;
  }
  .footer-menu {
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
  }
  .ptext .pborder.trans {
    background-color: transparent;
    font-size: 30px;
    font-family: "Nunito", sans-serif;
  }
  .moment {
    height: 300px;
  }
  .ptext-section-3 {
    left: 0;
    right: 0;
  }
}

// Re-write css for microsoft edge browser

@supports (-ms-ime-align: auto) {
  .moment-clipper {
    height: 0;
  }
  .moment1 {
    background: #666 url(/assets/images/contact.jpeg) no-repeat top;
    background-size: cover;
  }
  .moment2 {
    background: #666 url(/assets/images/second_image.jpeg);
    background-position-y: 25%;
    background-size: cover;
  }
  .moment3 {
    background: #666 url(/assets/images/home-banner-2.jpeg) center;
    background-size: cover;
  }
  .moment4 {
    background: #666 url(/assets/images/computer_graph.jpeg) top;
    background-size: cover;
  }
  .moment5 {
    background: #666 url(/assets/images/stock_image.jpg) top;
    background-size: cover;
  }
  .moment6 {
    background: #666 url(/assets/images/AdobeStock-testimonial.jpeg) top;
    background-size: cover;
  }
}

.fa-check-circle {
  font-size: 70px !important;
}

.ben-col {
  text-align: left;
  padding: 0px;

  .ben-img {
    width: 33%;
    opacity: 0;
  }
  .ben-img-absol {
    width: 33%;
    position: absolute;
    z-index: 1001;
    left: 5%;
  }
  .ben-label {
    position: absolute;
    height: calc(100% - 10px);
    top: 5px;
    width: 90%;
    background: #f5f5f5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
    color: black;
    padding-left: 30%;
    box-shadow: -1px -4px 10px #aaaaaa, -4px 5px 5px #aaaaaa;
    font-weight: 600;
    left: 5%;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .ben-label {
    font-size: 16px !important;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .ben-label {
    font-size: 12px !important;
  }
}
@media (max-width: 767px) {
  .ben-row {
    margin-top: 0px !important;
  }
  .ben-col {
    margin-bottom: 20px;
  }
}
@media (min-width: 321px) and (max-width: 575px) {
  .ben-label {
    font-size: 16px !important;
  }
}
@media (max-width: 320px) {
  .ben-label {
    font-size: 12px !important;
  }
}
