<nb-layout>
    <nb-layout-column>
        <ngx-header></ngx-header>
        <!--Card Design-->
        <section class="home-section">
            <div class="container-fluid">
                <span class="image-text">About Us</span>
            </div>
        </section>

        <section class="home-section p-0">
            <div class="container flex-container">
                <div class="flex-container1">
                    <h3 class="section-heading text-left mb-5"><b>Angeline’s Story</b></h3>
                    <p class="about-description">
                        One sunny afternoon in 2002, I was working for a large corporate company in Sydney. I had to
                        pull together workforce metrics to contribute to a Board Report. One of the items to include in
                        the report was the ‘top reasons people leave’ and knowing an exit interview process was
                        currently in place, I confidently requested the latest exit interview report.<br><br>

                        I was really surprised to find the information so lacking in objective, helpful information
                        about why employees leave. Knowing the significant cost of voluntary turnover to business bottom
                        line I thought, what a missed opportunity!<br><br>

                        That afternoon I had a ‘light bulb’ moment. If an effective exit interview program was in place
                        where information was harnessed sensitively, captured centrally, analysed and reported
                        objectively, what powerful insight would ensue for HR and business leaders.<br><br>


                        That was the beginning of an amazing journey. Starting as a research project into employee
                        behaviour when on maternity leave, I used my HR data background to pilot a program with AMP
                        using a Microsoft Access database. This soon became an online program which has been tweaked and
                        perfected over many years.<br><br>
                    </p>
                </div>
                <div class="flex-container2">
                    <div class="text-center">
                        <img src="https://workforceretention.s3-ap-southeast-2.amazonaws.com/assets/images/about-img-2.png"
                            class="about-image">
                        <br><br>
                        <span
                            style="color: #000000;font-family: 'Nunito', sans-serif;font-weight: bold;font-size: 18px">
                            Angeline Wilkes</span>
                        <br>
                        <span
                            style="color: #000000;font-family: 'Nunito', sans-serif;font-size: 18px;margin-top: 5px">Founder
                            & Director</span>
                    </div>
                </div>
            </div>

            <div class="container mt-3">
                <h3 class="section-heading text-left mb-5"><b>About Workforce Retention</b></h3>
                <p class="about-workforce">
                    We are now a virtual, boutique business built around supporting organisations with their unique exit
                    interview programs. The programs are built around three distinct principles.<br><br>

                    First, ensuring the <b>‘so what’</b> factors form part of the design of the interview process, so
                    results
                    point to meaningful action for businesses. This principle permeates the entire design of the exit
                    interview process from the questions we ask, through to producing invaluable reports.<br><br>

                    Second, having the ability to quickly view the <b>top reasons for leaving</b> by group or division,
                    while
                    at the same time being able to offer expert analysis on the qualitative aspects of the interviews.
                    Those that can’t be charted but need a human to analyse themes in commentary to qualify what the
                    charts are showing.<br><br>

                    Finally, making the experience as <b>professional and engaging</b> as it can be where employees have
                    a safe
                    space to contribute their experience. This gives them a sense of purpose and closure. It is so
                    important at such a significant juncture in their lives.<br><br>

                    Our programs have achieved over 95% participation.<br><br>

                    I’m so excited that we’ve now launched a new platform on the latest technology stack. If you have a
                    license to the platform you can opt in to our Application Programming Interface (API) for additional
                    value. This means if you have other data visualisation software, you can pull through the top
                    reasons for leaving alongside other business performance metrics.<br><br>

                    <a routerLink="/client/contact" style="color: #000000;text-decoration: underline"><b>Get in
                            touch</b></a> today for a chat about how we can help support your business or request a
                    quote.<br><br>
                </p>
            </div>

            <div class="container mt-5">
                <h3 class="section-heading text-left mb-5"><b>Our Clients</b></h3>
                <div class="clients-logo pb-5 px-5 text-center">
                    <div>
                        <img class="pybar mx-5"
                            src="https://workforceretention.s3-ap-southeast-2.amazonaws.com/assets/images/logos/pybar.png">
                        <img class="blacktown mx-5"
                            src="https://workforceretention.s3-ap-southeast-2.amazonaws.com/assets/images/logos/blacktown city council.png">
                        <img class="perpetual mx-5"
                            src="https://workforceretention.s3-ap-southeast-2.amazonaws.com/assets/images/logos/Perpetual_logo-700x259.png">
                    </div>
                    <div>
                        <img class="amp mx-5"
                            src="https://workforceretention.s3-ap-southeast-2.amazonaws.com/assets/images/logos/amp.jpg">
                        <img class="para mx-5"
                            src="https://workforceretention.s3-ap-southeast-2.amazonaws.com/assets/images/logos/parra leagues.png">
                    </div>
                    <div>
                        <img class="arnotts mx-3"
                            src="https://workforceretention.s3-ap-southeast-2.amazonaws.com/assets/images/logos/arnotts.png">
                        <img class="coffs mx-3"
                            src="https://workforceretention.s3-ap-southeast-2.amazonaws.com/assets/images/logos/coffs.png">
                        <img class="abbott mx-3"
                            src="https://workforceretention.s3-ap-southeast-2.amazonaws.com/assets/images/logos/abbott.png">
                    </div>
                    <div>
                        <img class="campbells mx-5"
                            src="https://workforceretention.s3-ap-southeast-2.amazonaws.com/assets/images/logos/campbells.png">
                        <img class="lexisnexis mx-5"
                            src="https://workforceretention.s3-ap-southeast-2.amazonaws.com/assets/images/logos/lexisnexis-logo-335x189.png">
                    </div>
                    <div>
                        <img class="allens mx-5"
                            src="https://workforceretention.s3-ap-southeast-2.amazonaws.com/assets/images/logos/allens.jpg">
                        <img class="sofico mx-5"
                            src="https://workforceretention.s3-ap-southeast-2.amazonaws.com/assets/images/logos/sofico.jpg">
                    </div>
                </div>
            </div>
        </section>
    </nb-layout-column>
</nb-layout>