<nb-layout>
  <nb-layout-column>
    <ngx-header></ngx-header>
    <ngx-page-name [pageName]="'About Us'"></ngx-page-name>
    <!--Card Design-->
    <section class="home-section">
      <div class="container">
        <p class="about-description">For over 10 years we’ve been offering flexible exit interview programs to suit businesses of all shapes and sizes.
          Whether that’s choosing to self-administer online exit surveys or a deeper specialist phone exit interview service.
          We offer insightful online charts, comprehensive exit reports or if preferred, a simple download of all the exit interview data captured for your own analysis.
          <br>
          Read more about our services or GET IN TOUCH today for a chat about how we can support your business.
        </p>
        <div class="row">
          <div class="col-md-8 long-logo"><img src="assets/images/stock_image.jpg" width="90%"/></div>
          <div class="col-md-4 short-logo"><img src="assets/images/logo_short.png" width="90%"/></div>
        </div>
      </div>
    </section>

  </nb-layout-column>
</nb-layout>
