<nb-layout>
    <nb-layout-column>
        <ngx-header></ngx-header>
        <!--Card Design-->
        <section class="home-section">
            <div class="container-fluid">
                <span class="image-text">About Us</span>
            </div>
        </section>

        <section class="home-section p-0">
            <div class="flex-container">
                <div class="flex-container1">
                    <h3 class="section-heading">Our Story </h3>
                    <p class="about-description">
                        For over 10 years we’ve been offering powerful insight to organisations large and small. In the
                        early years of testing and learning, I found having the ability to be flexible and offer a very
                        personalised service with objective reporting was so important. The platform now caters for
                        multiple modes of exit interview with features that cater for all kinds of requirements. Whether
                        a combination of online and phone exit interviews, using the platform internally or just to have
                        us expertly interview leavers and provide you with an insightful report.<br><br>

                        We specifically focus on the ‘so what’ factor so results are meaningful. This value permeates
                        the entire design of the exit interview process from the questions we ask, through to producing
                        reports.. We specialise in making the experience as professional and engaging as it can be,
                        leaving employees with a sense of fulfilment while providing you with valuable insight for your
                        business. These programs have achieved 95% participation, translating into rich insightful
                        reporting for business leaders.<br><br>

                        <a routerLink="/client/contact" style="color: #000000;text-decoration: underline">Get in
                            touch</a> today for a chat about how we can help support your business.
                    </p>
                </div>
                <div class="flex-container2">
                    <div class="text-center">
                        <img src="/assets/images/about-img-2.png" class="about-image">
                        <br><br>
                        <span style="color: #000000;font-family: 'Nunito', sans-serif;font-weight: bold;font-size: 18px"> Angeline Wilkes</span>
                        <br>
                        <span style="color: #000000;font-family: 'Nunito', sans-serif;font-size: 18px;margin-top: 5px">Founder & Director</span>
                    </div>
                </div>
            </div>
        </section>
    </nb-layout-column>
</nb-layout>
