<nb-layout>
    <nb-layout-column>
        <ngx-header></ngx-header>
        <ngx-page-name [pageName]="'Flexible Options'"></ngx-page-name>
        <!--Card Design-->
        <section class="home-section">
            <div class="container">
                <p class="about-description">Workforce Retention offers flexible exit interview programs with a
                    comprehensive, easy-to-use platform
                </p>
                <div class="graph-img"></div>
                <br>
                <div class="row">
                    <div class="col-md-12">
                        <ul class="about-description">
                            <li> Customisable email templates for distribution to exiting employees after resignation.</li>
                            <li> Auto-reminder features</li>
                        </ul>
                    </div>
                </div>
                <div class="reporting-image">
                    <h2 class="reporting-header">Access and download individual exit reports</h2>
                    <img class="reporting-logo" src="assets/images/logo_square.png"/>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12">
                        <ul class="about-description">
                            <li>Access  to HR or Management and limit the row security so they only see results for divisions they manage.</li>
                            <li>No contracts. We don't believe in restrictive contracts. Cancel at any time.</li>
                        </ul>
                    </div>
                </div>
                <p class="about-description">
                    Professional phone exit interviews can be offered as an 'add on' to the platform offering, or as a stand-alone service depending on business needs and budget.
                    <br>
                    Get in touch today to discuss how we can support you with a suitable exit interview program.
                </p>
            </div>
        </section>

    </nb-layout-column>
</nb-layout>
