@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,700&display=swap");

.flex-bg {
  background: url("https://workforceretention.s3.ap-southeast-2.amazonaws.com/assets/images/Flexible_Options_Page.jpeg")
    no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(0, 163, 255, 0.05);
}

.fo-title-parent {
  display: flex;
  justify-content: center;
  align-items: center;

  .fo-title {
    background: white;
    text-align: center;
    font-weight: 500;
    color: black;
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 8px 20px;
    border-radius: 10px;
  }
}

.fo-title {
  font-size: 27px;
}

.home-section {
  padding-top: 100px;
}

.light-gray {
  background: rgba(0, 0, 0, 0.024);
}

.nb-card-color {
  background: #fff !important;
  padding: 10px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border-top: 2px solid #000;
}

nb-card:hover {
  box-shadow: 0 10px 16px rgba(0, 0, 0, 0.2);
  border-top: 2px solid #3f51b5;
}

.nb-card-header {
  color: #000;
}

.description {
  color: #616161;
  line-height: 1.5rem;
}

//#2f296b
//re-writing global css
/deep/ nb-layout .layout {
  background-color: #fff !important;
}

nb-layout-column {
  padding: 0 !important;
}

.about-description {
  color: #000000;
  font-size: 1.2rem;
  line-height: 1.7rem;
  word-spacing: 2px;
}

.short-logo {
  position: relative;
}

.short-logo img {
  position: absolute;
  bottom: 0;
  left: 0;
}

.long-logo {
  text-align: right;
}

h1,
h2,
h3,
p,
li {
  font-family: "Nunito", sans-serif;
  color: #000000;
}

.home-section {
  color: black;

  .fo-title-bottom {
    width: 450px;
    border-top: 1px solid rgba(0, 0, 0, 0.4);
  }

  .fo-description {
    max-width: 720px;
    font-size: 1.2rem;
    line-height: 1.7rem;
    margin: auto;
  }

  .fo-option-panel {
    margin-top: 120px;
    border: 1px solid #d3eaf7;
    padding: 10px;
    text-align: center;
    background: white;

    .fo-option-title1 {
      font-size: 22px;
      height: 75px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.4);
      display: table;
      width: 100%;
      div {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        font-weight: 600;
      }
    }
    .fo-option-subtitle1 {
      padding: 20px 0;
      font-size: 1.1rem;
      line-height: 1.5rem;
      border-bottom: 1px solid rgba(0, 0, 0, 0.4);
      position: relative;
      height: 100px;
    }
    .fo-option-title2 {
      padding: 15px 0;
      font-size: 1.5rem;
      border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    }
    .fo-option-list1 {
      padding: 30px 0 20px;
      text-align: left;
      font-size: 1.2rem;
      border-bottom: 1px solid rgba(0, 0, 0, 0.4);
      height: 225px;
      ul li {
        line-height: 1.5rem;
        font-size: 1rem;
      }
    }
    .fo-option-list2 {
      padding: 30px 0 20px;
      text-align: left;
      font-size: 1.2rem;
      height: 150px;
      ul li {
        line-height: 1.5rem;
        font-size: 1rem;
      }
    }
    .fo-option-view-ex {
      padding: 16px;
      color: black;
      position: absolute;
      background: #4db0e8;
      width: calc(100% - 30px);
      left: 10px;
      margin-top: -16px;
      font-size: 16px;
      cursor: pointer;
    }

    .fo-option-view-ex:hover {
      background: #5db6e9;
    }

    .fo-down {
      position: absolute;
      left: calc(50% - 6px);
      bottom: 5px;
    }

    .fo-option-extra {
      padding: 16px;
      color: black;
      position: absolute;
      background: #4db0e8;
      width: calc(100% - 30px);
      top: 70px;
      left: 15px;
      font-size: 16px;
    }
  }
  .fo-license {
    background: #4db0e8;
    color: white;
    border: 0px;
    .fo-option-title1,
    .fo-option-subtitle1,
    .fo-option-title2,
    .fo-option-list1 {
      border-bottom: 1px solid white;
    }
    .fo-option-list1 ul li,
    .fo-option-list2 ul li {
      color: white;
    }
  }
  .fo-phone-without-platform {
    background: #f1f1f1;
    border: 0px;
  }
  .fo-request-quote {
    margin-top: 90px;
    padding: 50px 20px;
    background: #f1f1f1;
    border-radius: 2px;
  }
}

.btn-quote {
  margin-top: 50px;
  width: 345px;
  border-radius: 5px;
  cursor: pointer !important;
}
/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 1400px) and (max-width: 1599px) {
  .btn-quote {
    width: 300px !important;
  }

  .fo-option-subtitle1 {
    height: 120px !important;
  }
  .fo-option-list2 {
    height: 195px !important;
  }
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .fo-option-subtitle1 {
    height: 130px !important;
  }
  .fo-option-list2 {
    height: 220px !important;
  }
  .btn-quote {
    width: 255px !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .fo-option-subtitle1 {
    height: 140px !important;
  }
  .fo-option-list1 {
    height: 272px !important;
  }
  .fo-option-list2 {
    height: 230px !important;
  }
  .btn-quote {
    width: 210px !important;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .fo-option-extra {
    top: 80px !important;
  }
  .fo-title-bottom {
    width: 80% !important;
  }
  .btn-quote {
    width: 330px !important;
  }
}

@media (max-width: 767px) {
  .fo-option-panel {
    margin-top: 50px !important;
  }
  .fo-option-extra {
    top: 20px !important;
  }
  .fo-phone-with-platform,
  .fo-phone-analysis-reporting {
    margin-top: 80px !important;
    .fo-option-extra {
      top: 50px !important;
    }
  }
  .fo-title-bottom {
    width: 80% !important;
  }
}

@media (max-width: 575px) {
  .btn-quote {
    width: 250px !important;
  }
}

@media (max-width: 480px) {
  .fo-option-panel {
    margin-top: 50px !important;
  }
  .fo-option-extra {
    top: 20px !important;
  }
  .fo-phone-with-platform,
  .fo-phone-analysis-reporting {
    margin-top: 80px !important;
    .fo-option-extra {
      top: 50px !important;
    }
  }
  .fo-title-bottom {
    width: 80% !important;
  }
  .fo-option-list2 {
    height: 180px !important;
  }
  .fo-request-quote {
    height: 400px !important;
  }
}

// Media query for ipad
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
}

// Media query for ipad pro
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) {
}
