<nb-layout>
    <nb-layout-column>
        <ngx-header></ngx-header>
        <!--Card Design-->
        <section class="home-section">
            <div class="container-fluid">
                <span class="image-text">Flexible <br>Exit Interview<br> Program Options</span>
            </div>
            <div class="section-div-text about-description">
                Workforce Retention offers flexible exit interview programs with a comprehensive, easy-to-use platform.
                Professional phone exit interviews can be offered as an 'add on' to the platform offering, or as a
                stand-alone service depending on business needs and budget. Take a look at some of the ways we can
                structure the right program for you:
            </div>
            <!--            <a href="#scroll-section-1" class="scroll-next-page">-->
            <!--                (scroll down next slide)-->
            <!--            </a>-->
        </section>
        <section class="home-section" id="scroll-section-1">
            <div class="section1">
                <div class="section-container">
                    <div class="section-container1">
                        <div class="section-marker marker1">1</div>
                        <div class="section-arrow"></div>
                        <h3 class="text-center">easy-to-use<br> platform</h3><br>
                        <p class="text-center px-3">The platform offers the ability to run phone, online or internal
                            face to face interviews. It
                            can be administered internally or used only to view individual and full exit reports.
                            Features:</p>
                    </div>
                    <div class="section-container2">
                        <ul class="ul-marker">
                            <li>Set up or upload exiting employee profiles and control the mode of exit interview i.e.
                                phone, online or face to face .
                            </li>
                            <li>Set-up and update anytime the default email script for distribution to exiting
                                employees.
                            </li>
                            <li>Passwords can be reset for online exit interviews.</li>
                            <li>Auto-reminder email sent to those set up to complete an online interview.</li>
                        </ul>
                    </div>
                    <div class="section-container3">
                        <ul class="ul-marker">
                            <li>Save and send individual exit reports via PDF to managers by email.</li>
                            <li> Online charting and reports that can be filtered by division, gender, tenure</li>
                            <li> Access to full data extracts for own analysis at any time.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="section2">
                <div class="section-container">
                    <div class="section-container1">
                        <div class="section-marker marker2">2</div>
                        <div class="section-arrow"></div>
                        <h3 class="text-center">expert phone<br> exit interviews</h3><br>
                        <p class="text-center px-3">We specialise in making the experience as professional and engaging as it
                            can be, leaving employees with a sense of fulfilment while
                        </p>
                    </div>
                    <div class="section-container2">
                        <ul class="ul-marker">
                            <li>Our exit Interviews are designed to capture insightful information across all aspects of
                                employment.
                            </li>
                            <li>We avoid recording subjective information. Rather than record the interview conversation
                                verbatim, we summarise responses in a helpful narrative.
                            </li>
                            <li>We listen, empathise and make the employee feel valued and heard.</li>
                        </ul>
                    </div>
                    <div class="section-container3">
                        <ul class="ul-marker">
                            <li>Where exiting employees make a judgement about an aspect of their time, we seek specific
                                examples.
                            </li>
                            <li>We encourage employees to tell us what could have happened differently to make their
                                experience more positive.
                            </li>
                            <li>At completion, the interview is reviewed and finalised. The report can be emailed to HR,
                                Managers or simply access it from the platform and download to PDF,
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section class="home-section" id="scroll-section-2">
            <div class="section1">
                <div class="section-container">
                    <div class="section-container1">
                        <div class="section-marker marker3">3</div>
                        <div class="section-arrow"></div>
                        <h3 class="text-center">online chart <br>reporting</h3><br>
                        <p class="text-center px-3">The unique exit interview structure is designed to rank top reasons for
                            leaving categories, and showcase the specific areas of concern in dynamic charts. Eg: if
                            it’s Leadership - is it communication or values? If it’s pay, is it about fairness or
                            benefits?</p>
                    </div>
                    <div class="section-container2">
                        <ul class="ul-marker">
                            <li>Online charts are indexed every time an interview is completed.
                            </li>
                            <li>Filter time periods, gender, tenure, organizational level and position level.
                            </li>
                            <li>Provide access to chart reports to business or HR leaders, while maintaining anonymity
                                for other divisions.
                            </li>
                            <li>Choose confidential or non-confidential. If confidential, the charts will not display
                                until enough responses assure anonymity.
                            </li>
                        </ul>
                    </div>
                    <div class="section-container3">
                        <ul class="ul-marker">
                            <li>Download reports to PDF</li>
                            <li> Understand ‘What’s Working Well’ and ‘What’s Not Working Well’ with charts illuminating
                                the top 10 and bottom 10 ranked statements in the interview.
                            </li>
                            <li> Access to full data extracts for own analysis at any time.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="section4">
                <div class="section-container">
                    <div class="section-container1">
                        <div class="section-marker marker4">4</div>
                        <div class="section-arrow"></div>
                        <h3 class="text-center">Comprehensive <br>reporting</h3><br>
                        <p class="text-center px-3">Full exit reports are the result of expert analysis. These reports are
                            usually produced quarterly and are highly valuable because the mining, refining and
                            summarising of the data is all taken care of. Features include:
                        </p>
                    </div>
                    <div class="section-container2">
                        <ul class="ul-marker">
                            <li>Full analysis on all quantitative and qualitative aspects of the interview. These
                                reports are usually produced quarterly.
                            </li>
                            <li>Participation summary and trend analysis on current period versus last period.
                            </li>
                            <li>Top reasons for leaving ranked and explored through deep analysis of employee
                                commentary.
                            </li>
                        </ul>
                    </div>
                    <div class="section-container3">
                        <ul class="ul-marker">
                            <li>Drill down analysis on ‘hot spots’ uncovered through analysis.
                            </li>
                            <li>Analysis on other groups talent ie: generational/ performance/ job level, salary
                                banding/ women & diversity available.
                            </li>
                            <li>Reports are uploaded as PDF to the platform or emailed direct to nominated staff.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <ngx-footer></ngx-footer>
    </nb-layout-column>
</nb-layout>
