<nb-layout>
    <nb-layout-column>
        <ngx-header></ngx-header>
        <!--Card Design-->
        <section class="home-section container">
            <div class="fo-title">Flexible Options</div>
            <hr class="fo-title-bottom" />
            <div class="fo-description text-center">
                Enjoy our easy to use platform offering great features to give you flexibility over what and how your
                exiting employees experience their exit interview. In addition to great features our team offers expert
                phone interviews and additional reporting as an add-on feature.
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="fo-option-panel fo-license">
                        <div class="fo-option-title1">
                            <div>License to platform</div>
                        </div>
                        <div class="fo-option-subtitle1">Get access to our cloud platform with loads of features and
                            flexibility in how exit interviews are delivered. </div>
                        <div class="fo-option-title2">Inclusions</div>
                        <div class="fo-option-list1">
                            <ul>
                                <li>Administer online interviews</li>
                                <li>Reminder emails</li>
                                <li>Insightful chart package</li>
                                <li>Download individual exit report</li>
                                <li>Control reporting access.</li>
                                <li>No employee limits</li>
                                <li>Drill through analysis</li>
                                <li>API integration option</li>
                            </ul>
                        </div>
                        <div class="fo-option-title2">Setup & Support</div>
                        <div class="fo-option-list2">
                            <ul>
                                <li>Interview custom build.</li>
                                <li>Setup and configuration.</li>
                                <li>Platform Quick Refence Guide</li>
                                <li>1:1 Account Manager Support.</li>
                            </ul>
                        </div>
                        <div class="fo-option-view-ex">
                            VIEW EXAMPLE
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="fo-option-panel fo-phone-with-platform">
                        <div class="fo-option-extra">
                            Extra Feature
                        </div>
                        <div class="fo-option-title1">
                            <div>Phone Interviews</div>
                        </div>
                        <div class="fo-option-subtitle1">We specialise in making the experience meaningful and engaging,
                            leaving employees with a sense of contribution. </div>
                        <div class="fo-option-title2">Inclusions</div>
                        <div class="fo-option-list1">
                            All Platform Inclusions <i>PLUS</i> <br>
                            <ul class="mt-2">
                                <li>Expertly conducted interviews</li>
                                <li>Effective Interview design </li>
                                <li>Declines are offered online interviews</li>
                                <li>Consultants elicit candor</li>
                                <li>High participation</li>
                                <li>Exit report produced</li>
                            </ul>
                        </div>
                        <div class="fo-option-title2">Support</div>
                        <div class="fo-option-list2">
                            <ul>
                                <li>Includes set-up and support for platform license. </li>
                                <li>User friendly ‘Scheduler’ to assist exiting employees choose the exit interview
                                    time that best suits them.</li>
                                <li>Three attempts to contact or admin fee only</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="fo-option-panel fo-phone-analysis-reporting">
                        <div class="fo-option-extra">
                            Extra Feature
                        </div>
                        <div class="fo-option-title1">
                            <div>Analysis & Reporting</div>
                        </div>
                        <div class="fo-option-subtitle1">Expert analysis is offered for more comprehensive reporting.
                            Reports are typically produced quarterly.
                            <i class="fo-down fa fa-chevron-down"></i>
                        </div>
                        <div class="fo-option-title2">Inclusions</div>
                        <div class="fo-option-list1">
                            All Platform Inclusions <i>PLUS</i> <br>
                            <ul class="mt-2">
                                <li>Full commentary analysis</li>
                                <li>Trend / time comparison </li>
                                <li>Top reasons for leaving analysis</li>
                                <li>What’s working well</li>
                                <li>What’s not working well </li>
                                <li>Analysis on hotspots</li>
                                <li>Highly valued report </li>
                            </ul>
                        </div>
                        <div class="fo-option-title2">Support</div>
                        <div class="fo-option-list2">
                            <ul>
                                <li>Includes set-up and support for platform license. </li>
                                <li>Recommendation for reporting Plus option to have analysis on specific hotspots in
                                    the business</li>
                            </ul>
                        </div>
                        <div class="fo-option-view-ex">
                            VIEW EXAMPLE
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="fo-option-panel fo-phone-without-platform">
                        <div class="fo-option-title1">
                            <div>Phone Interviews <i>without</i> Platform</div>
                        </div>
                        <div class="fo-option-subtitle1">Some organization just want individual phone interviews
                            expertly conducted.
                            <i class="fo-down fa fa-chevron-down"></i></div>
                        <div class="fo-option-title2">Inclusions</div>
                        <div class="fo-option-list1">
                            Phone interviews ONLY <br>
                            <ul class="mt-2">
                                <li>Expertly conducted interviews</li>
                                <li>Effective Interview design </li>
                                <li>Declines are offered online interviews</li>
                                <li>Elicit candor and honesty</li>
                                <li>High participation</li>
                                <li>Exit report produced</li>
                            </ul>
                        </div>
                        <div class="fo-option-title2">Setup & Support</div>
                        <div class="fo-option-list2">
                            <ul>
                                <li>User friendly ‘Scheduler’ to assist exiting employees choose the exit interview
                                    time that best suits them.</li>
                                <li>Three attempts to contact or admin fee only</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fo-request-quote text-center">
                <div class="fo-title mt-0">Prices</div>
                <hr class="fo-title-bottom" />
                <div class="fo-description text-center">
                    As we provide flexible options to suit all organisations
                    we’ll need some information about your business so we can provide
                    you with an accurate estimate of the cost.
                </div>

                <button type="button" class="btn btn-primary" style="margin-top: 100px;"
                    routerLink="/client/request-a-quote">
                    REQUEST A QUOTE
                </button>
            </div>
        </section>
        <ngx-footer></ngx-footer>
    </nb-layout-column>
</nb-layout>