.question-box{
  border: 1px solid #0bbb79;
  margin-bottom: 10px;
}
.question-container{
  padding-bottom: 30px;
  padding-top: 30px;
}
//#2f296b
//re-writing global css
/deep/ nb-layout .layout {
  background-color: #2f296b !important;
}