<div id="content7" class="content-slide">
  <div class="row justify-content-md-center">
    <div class="col-md-10">
      <div class="text-left">
        <h4><b>Clients we have partnered with</b></h4>
      </div>
      <ngx-slick-carousel class="carousel-logo" #slickModal="slick-carousel" [config]="slideLogoConfig">
        <div ngxSlickItem *ngFor="let slide of logoSlides" class="slide">
          <img src="{{ slide.img }}" alt="" class="img-logo">
        </div>
      </ngx-slick-carousel>
    </div>
  </div>
</div>
<div id="content6" class="content-slide">
  <div class="row justify-content-md-center">
    <div class="col-md-6">
      <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
        <div ngxSlickItem class="slide">
          “We have been extremely impressed with Workforce Retention’s approach to developing
          a solution for exit interviews. What I most valued is the focus on understanding
          those key moments of disengagement that ultimately lead up to someone choosing to
          leave the business” Sonya Hughes - Director, Talent & Strategy. Campbell Arnotts
        </div>
        <div ngxSlickItem class="slide">
          “We’ve had huge amounts of career development feedback which we’ve used to create a
          targeted development framework. We also incorporate the data into our monthly
          metrics which goes out to our SLT” - Jana Buschhaus, LexisNexis
        </div>
      </ngx-slick-carousel>

    </div>
  </div>
</div>