<nb-layout>
    <nb-layout-column>
        <ngx-header></ngx-header>
        <br><br>
        <div class="container">
            <div class="row">
                <!--Incomplete Surveys-->
                <div class="col-lg-6">
                    <!--Here design three box-->
                    <!--Show the Assign surveys-->
                    <h1 style="color: #000;">INCOMPLETE SURVEYS</h1>
                    <ngx-datatable
                            [rows]="completedSurveys"
                            [columnMode]="'force'"
                            [headerHeight]="40"
                            [footerHeight]="50"
                            [rowHeight]="'auto'"
                            [externalPaging]="true"
                            [count]="count"
                            [offset]="offset"
                            [limit]="limit"
                            (page)='onChangeCompletedSurveys($event)'>
                        <ngx-datatable-column name="title">
                            <ng-template let-column="column" ngx-datatable-header-template>
                                Survey Title
                            </ng-template>
                            <ng-template let-value="value" ngx-datatable-cell-template>
                                <strong>{{value}}</strong>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="description">
                            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                <span (click)="sort()">Survey Description</span>
                            </ng-template>
                            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                <div [innerHTML]="value"></div>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="noOfQuestion">
                            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                <span (click)="sort()"># Questions</span>
                            </ng-template>
                            <ng-template let-value="value" ngx-datatable-cell-template>
                                <strong>{{value}}</strong>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="id">
                            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                <span (click)="sort()">Action</span>
                            </ng-template>
                            <ng-template let-value="value" ngx-datatable-cell-template>
                                <button type="button" class="btn btn-primary" (click)="onClickGoSurvey(value)">
                                    GO
                                </button>
                            </ng-template>
                        </ngx-datatable-column>
                    </ngx-datatable>

                    <!--If click on the go button then redirect to the questions page-->
                </div>
                <div class="col-lg-6">
                    <h1 style="color: #000;">COMPLETED SURVEYS</h1>
                </div>
            </div>
        </div>
    </nb-layout-column>
</nb-layout>