<div class="header-container">
  <div class="logo-container">
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle navigation">
      <i class="nb-menu"></i>
    </a>
    <div class="logo" (click)="goToHome()" style="height: 7.75rem">
      <img
        class="logo-header"
        src="https://workforceretention.s3-ap-southeast-2.amazonaws.com/assets/images/logo_transparent.png"
      />
    </div>
  </div>
</div>

<div class="header-container">
  <nb-actions size="small" class="mr-3">
    <nb-action *nbIsGranted="['view', 'user']">
      <nb-user
        [nbContextMenu]="userMenu"
        [name]="user?.name"
        picture="https://workforceretention.s3-ap-southeast-2.amazonaws.com/assets/images/user-icon.png"
      >
      </nb-user>
    </nb-action>
  </nb-actions>
</div>
