<header>
    <nav style="display: flex;">
        <h1 class="logo ml-3">
            <a routerLink="/client/home">
                <!-- <img src="assets/images/logo_transparent.png"> -->
                <img [src]="clientImage" alt="" style="height: 88px;">
            </a>
        </h1>
        <ul>
            <li class="main-menu-list">
                <a class="menu" href="#">
                    <div class="dropdown-image">
                        <!--                        <img src="/assets/images/jack.png" class="rounded-circle profile-image" width="40%">-->
                        <i class="hamburger-menu"><img src="/assets/images/hamburger_menu.svg"></i>
                    </div>
                    <ul class="dropdown-menu">
                        <li class="dropdown-item"><a routerLink="/client/home" routerLinkActive="active">Home</a></li>
                        <li class="dropdown-item" *ngIf="isAuth && employee_details && employee_details.is_survey == 1">
                            <a routerLink="/client/dashboard" routerLinkActive="active">Dashboard</a>
                        </li>
                        <li class="dropdown-item" *ngIf="isAuth && employee_details.is_report == 1">
                            <a routerLink="/client/report" routerLinkActive="active">Report</a>
                        </li>
                        <li class="dropdown-item" *ngIf="isAuth">
                            <a routerLink="/client/profile" routerLinkActive="active">Profile</a>
                        </li>
                        <li class="dropdown-item"><a routerLink="/client/flexible-options"
                                routerLinkActive="active">Flexible
                                Options</a></li>
                        <li class="dropdown-item"><a routerLink="/client/about-us" routerLinkActive="active">About
                                Us</a></li>
                        <li class="dropdown-item"><a routerLink="/client/contact" routerLinkActive="active">Contact
                                Us</a></li>
                        <li *ngIf="!isAuth" class="dropdown-item"><a routerLink="/client/login"
                                routerLinkActive="active">Login</a></li>
                        <li class="dropdown-item" *ngIf="isAuth">
                            <a routerLink="" (click)="logout()">Logout</a>
                        </li>
                    </ul>
                </a>
            </li>
            <!--            <li *ngIf="isAuth" class="client-logo">-->
            <!--                &lt;!&ndash; Show the client logo here &ndash;&gt;-->
            <!--                <a>-->
            <!--                    <img *ngIf="employeeService.clientImage!==''" src="images/client/{{employeeService.clientImage}}"-->
            <!--                         class="profile-image" width="100%">-->
            <!--                </a>-->
            <!--            </li>-->

            <!--Here set-up a list which will show only if the user is logged in-->
            <!--List will have a circle image avatar-->
            <!--when we will put cursor on top of that image that dropdown will expand-->
            <!--Also here will have a dropdown which will have option profile, surveys, reports and login -->
        </ul>
    </nav>
</header>