<nb-layout>
  <nb-layout-column>
    <ngx-header></ngx-header>
    <section class="home-section">
      <div class="container-fluid">
        <span class="image-text">Privacy</span>
      </div>
      <br>
      <div class="container text-left mt-5">
        <div class="row">
          <div class="col-md-12">
            <h2 style="color:#127cb0">Privacy Statement</h2>
            <div class="p-text">
              This Privacy Statement describes how Workforce Retention collects, uses, and protects personally
              identifiable information. Protecting personally identifiable information about you is important to us. We
              strive to protect the personal information under our control and take certain precautions to help maintain
              the security and integrity of that data. <br><br>
              Most of the personally identifiable information we receive relates to an employer's programs, including
              pay, benefits, and other human resources plans or programs. There are several ways that we receive
              personal
              information: <br>
              <ul class="my-3">
                <li>
                  Your current/former employer, who has taken part in administering their plans or programs, might
                  provide
                  the information (this may come from pay offices or HR departments).
                </li>
              </ul>
              You provide information to Workforce Retention through a questionnaire or interview.
              The types of personal information we receive may include:<br>
              <ul class="my-3">
                <li>
                  <b>Contact information and other identifiers,</b> such as name, address, phone number, mobile number,
                  email
                  address, grade, position title;
                </li>
                <li>
                  <b>Demographic information,</b> such as date of birth, and gender
                </li>
                <li>
                  <b>Employment information,</b> such as date of hire, resignation date, date of termination,
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-12 mt-4">
            <h2 style="color:#0f638d">Our Commitment to Protecting Your Information</h2>
            <div class="p-text">
              We have implemented various security measures to help reduce the risk of unauthorized processing or
              disclosure of personal information and accidental loss, destruction, or damage to your personal
              information. Only your current/former employer is authorised to access your personal information. <br><br>
              Our commitment to protecting personally identifiable information also means that: <br>
              <ul class="my-3">
                <li>
                  We won't sell your personally identifiable information to any third party; and
                </li>
                <li>
                  We won't use, transfer, or disclose your personally identifiable information to anyone outside of
                  Workforce Retention, unless authorised by you, except in connection with your current/former
                  employer's plans and programs, as required by law or legal process, in response to law enforcement
                  requests, and as necessary to protect the property, interests, and rights of Workforce Retention
                  and/or your current/former employer.
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-12 mt-4">
            <h2 style="color:#0f638d">Making Corrections</h2>
            <div class="p-text">
              Workforce Retention is committed to accurately maintaining your personally identifiable information.
              Although we can't guarantee that your personal information will be 100% accurate at all times, we'll take
              reasonable steps to correct personal information that is properly identified as incorrect.
            </div>
          </div>
          <div class="col-md-12 mt-4">
            <h2 style="color:#0f638d">Contact Information</h2>
            <div class="p-text">
              If you have any questions about Workforce Retentions use of your personally identifiable information or
              about this Data Privacy Statement, please send an email to: <span
                style="color:#cc6600">enquiries@workforceretention.com.au</span>
            </div>
          </div>
        </div>
      </div>
    </section>
  </nb-layout-column>
</nb-layout>