<nb-layout>
  <nb-layout-column>
    <ngx-header></ngx-header>
    <section class="home-section">
      <div class="container-fluid">
        <span class="image-text">Privacy</span>
      </div>
      <br>
      <div class="container text-left mt-5">
        <div class="row">
          <div class="col-md-12">
            <h2 style="color:#127cb0">Privacy Statement</h2>
            <div class="p-text">
              This Privacy Statement describes how Workforce Retention collects, uses, and protects personally
              identifiable information. Protecting personally identifiable information about you is important to us. We
              strive to protect the personal information under our control and take certain precautions to help maintain
              the security and integrity of that data. <br><br>
            </div>
          </div>
          <div class="col-md-12 mt-4">
            <h2 style="color:#0f638d">How Workforce Retention Receives Personal Information</h2>
            <div class="p-text">
              Your current/former employer, who has taken part in administering their plans or programs, might provide
              the information (this may come from pay offices or HR departments). The types of personal information we
              receive may include: <br>
              <ul class="my-3">
                <li>
                  Contact information and other identifiers such as name, address, phone number, mobile number, email
                  address, position title, occupational level
                </li>
                <li>
                  Demographic information such as date of birth, and gender
                </li>
                <li>
                  Employment information such as date of hire, resignation date, date of termination,
                </li>
              </ul>
              You provide information to Workforce Retention through a questionnaire or interview. When we conduct
              interviews we request input from you and discuss topics pertaining to your time with your employer; this
              may include leadership, communication, operations, career, management, pay and development opportunities.
              This information is recorded in a secure Portal.
            </div>
          </div>

          <div class="col-md-12 mt-4">
            <h2 style="color:#0f638d">How Workforce Retention may use your Personal Information</h2>
            <div class="p-text">
              The information you provide to Workforce Retention during an exit interview is collected and stored in a
              secure portal and may be accessed by authorised members of your employer. We have implemented various
              security measures to help reduce the risk of unauthorised processing or disclosure of personal information
              and accidental loss, destruction, or damage to your personal information. <br><br>
              The information stored may be used for a number of purposes connected with our business operations, which
              include: <br><br>
              1. Workforce Retention will use the contact information provided by your employer in order to arrange an
              interview or, after completion of an interview, to seek additional information related to your interview.
              <br><br>
              2. Your feedback may be used to produce an individual report that includes the specific information you
              provided during your interview. This report may be identified with your name and position details. In some
              cases, your employer may elect for a Confidential discussion in which case this will be disclosed to you
              and the information we collect will only be used as part of aggregated data (see point 3 for more
              information)<br><br>
              3. Your information may be aggregated in reports that provide statistical and qualitative summaries based
              on yours and other responses from employees who have worked with the same employer. These reports may be
              produced and distributed to your employers; typically the Human Resources team assigned to the
              program.<br><br>
              We will not use your information for purposes other than described above unless we have your consent or
              there are specified law enforcement or public health and safety reasons.
            </div>
          </div>

          <div class="col-md-12 mt-4">
            <h2 style="color:#0f638d">Our Commitment to Protecting Your Information</h2>
            <div class="p-text">
              Our commitment to protecting personally identifiable information also means that: <br>
              <ul class="my-3">
                <li>
                  We will not sell your personally identifiable information to any third party; and
                </li>
                <li>
                  We won't use, transfer, or disclose your personally identifiable information to anyone outside of
                  Workforce Retention, unless authorised by you, except in connection with your current/former
                  employer's plans and programs, as required by law or legal process, in response to law enforcement
                  requests, and as necessary to protect the property, interests, and rights of Workforce Retention
                  and/or your current/former employer.
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-12 mt-4">
            <h2 style="color:#0f638d">Making Corrections</h2>
            <div class="p-text">
              Workforce Retention is committed to accurately maintaining your personally identifiable information.
              Although we can't guarantee that your personal information will be 100% accurate at all times, we'll take
              reasonable steps to correct personal information that is properly identified as incorrect.
            </div>
          </div>
          <div class="col-md-12 mt-4">
            <h2 style="color:#0f638d">Contact Information</h2>
            <div class="p-text">
              If you have any questions about Workforce Retentions use of your personally identifiable information or
              about this Data Privacy Statement, please send an email to: <span
                style="color:#cc6600">enquiries@workforceretention.com.au</span>
            </div>
          </div>
        </div>
      </div>
    </section>
  </nb-layout-column>
</nb-layout>