<div class="container">
    <br><br><br>
    <div class="row align-items-center justify-content-center">
        <div class="col-lg-8">
            <!--Client Industry Row-->
            <div class="row">
                <div class="col-lg-4"><strong>Client Industry</strong></div>
                <div class="col-lg-5">{{client.industry_label}}</div>
            </div>
            <br>
            <!--No Of Employees-->
            <div class="row">
                <div class="col-lg-4"><strong>No Of Employees</strong></div>
                <div class="col-lg-5">{{client.employees_label}}</div>
            </div>
            <br>
            <!--Employee Turnover-->
            <div class="row">
                <div class="col-lg-4"><strong>Employee Turnover</strong></div>
                <div class="col-lg-5">{{client.turnover}}</div>
            </div>
            <br>
            <!--Client State and Country-->
            <div class="row">
                <div class="col-lg-4"><strong>Client State, Country</strong></div>
                <div class="col-lg-5">{{client.state_country_label}}</div>
            </div>
            <br>
            <!--Client Product-->
            <div class="row">
                <div class="col-lg-4"><strong>Product Usage</strong></div>
                <div class="col-lg-5">{{client.product_label}}</div>
            </div>
            <br>
            <!--Org Level Management-->
            <div class="row">
                <div class="col-lg-4"><strong>Org. Level Management</strong></div>
                <div class="col-lg-5">{{client.organization_label}}</div>
            </div>
            <br>
            <!--Division Level Management-->
            <div class="row">
                <div class="col-lg-4"><strong>Div. Level Management</strong></div>
                <div class="col-lg-5">{{client.division_label}}</div>
            </div>
            <br>
            <!--Department Level Management-->
            <div class="row">
                <div class="col-lg-4"><strong>Dept. Level Management</strong></div>
                <div class="col-lg-5">{{client.department_label}}</div>
            </div>
        </div>
    </div>
</div>
