@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,700&display=swap");

.home-section {
  padding: 80px 0;
  position: relative;
}

.light-gray {
  background: rgba(0, 0, 0, 0.024);
}

.nb-card-color {
  background: #fff !important;
  padding: 10px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border-top: 2px solid #000;
}

nb-card:hover {
  box-shadow: 0 10px 16px rgba(0, 0, 0, 0.2);
  border-top: 2px solid #3f51b5;
}

.nb-card-header {
  color: #000;
}

.description {
  color: #616161;
  line-height: 1.5rem;
}

.alert-danger {
  //   background: rgba(0, 0, 0, 0.4) !important;
  color: red;
}

//re-writing global css
/deep/ nb-layout .layout {
  background-color: #fff !important;
}

nb-layout-column {
  padding: 0 !important;
}

/deep/ .nb-theme-cosmic .form-control {
  background-color: #fff;
  border: 1px solid #342e73;
}

/deep/ .nb-theme-cosmic .form-control:focus {
  background-color: #f0f0f5;
  color: #3f51b5;
}

.container-fluid {
  background-size: cover;
  width: 100%;
  height: 450px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("assets/images/AdobeStock_261253784.jpeg");
  background-position: center top;
  position: relative;
  padding-bottom: 20px;
  background-position: 0% 50%;
}

/deep/ .container-rq {
  // max-width: 1140px !important;
}

.image-text {
  position: absolute;
  font-size: 48px;
  font-family: "Nunito", sans-serif;
  top: calc(50% - 30px);
  right: 20%;
  color: black;
  background: transparent;
  // padding: 10px 20px;
}

.section-div {
  margin: 0 auto;
}

@media (min-width: 481px) and (max-width: 767px) {
  .form-container {
    flex-direction: column;
  }
  .container-fluid {
    background-position: left;
  }
  .image-text {
    font-size: 30px;
  }
}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .form-container {
    flex-direction: column;
  }
  .container-fluid {
    background-position: left;
    height: 300px;
  }
  .image-text {
    font-size: 30px;
    right: auto !important;
  }
}

.form-container-captcha {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.form__radio-group {
  width: 50%;
  display: inline-block;
}

.form__radio-label {
  font-size: 1rem;
  cursor: pointer;
  position: relative;
  padding-left: 3rem;
}

.form__radio-input {
  display: none;
}

.form__radio-button {
  height: 2rem;
  width: 2rem;
  border: 5px solid #00d977;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -0.4rem;
}

.form__radio-button::after {
  content: "";
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  opacity: 0;
  transition: opacity 0.2s;
}

.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1;
}

.f-option-label {
  color: black;
  font-weight: bold;
  margin-bottom: 3px;
  border-left: 3px solid #4db0e8;
  padding-left: 10px;
}

.f-option-popover {
  color: black;
  padding: 10px;
}

.cursor-pointer {
  cursor: pointer;
  color: #0a3f54;
}

/deep/ ::ng-deep .nb-theme-corporate nb-popover {
  border: 2px solid #4db0e8 !important;
}

/deep/ ::ng-deep .nb-theme-corporate nb-popover .arrow {
  border-bottom: 11px solid #4db0e8 !important;
}
