<section class="testimonial-section home-section">
    <div class="footer-div">
        <ul class="footer-menu">
            <li><a routerLink="/client/program-options">Our Services</a></li>
            <li><a routerLink="/client/request-a-quote">Request A Quote</a></li>
            <li><a routerLink="/client/privacy">Privacy Policy</a></li>
            <li><a routerLink="/client/contact">Contact Us</a></li>
            <li><a href="#">Call Now :61 2 98413-0170</a></li>
        </ul>
        <div class="text-center">
            <img src="https://workforceretention.s3-ap-southeast-2.amazonaws.com/assets/images/logo_short.png"
                width="200px">
        </div>
        <div class="text-center">
            <p style="letter-spacing: 1px">© Workforce Retention {{currentYear}}</p>
        </div>
    </div>
</section>